img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
h1 {
	font-family: 'Noto Sans 700', sans-serif;
	font-size: 23px;
	margin-left: 1.66%;
	text-transform: uppercase;
	width: 30%;
	border-bottom: 2px solid #f2f2f2;
	padding-bottom: 5px;
}